body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.list {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 15px;
    width:80%;
    height: 900px;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 2px 4px 10px black;

}

.name {
    text-align: center;
    font-weight: bold;

}